body {
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  margin-top: 0;
}

.top-container {
  background-color: #dbe2ef;
  padding-top: 100px;
  position: relative;
}

.underline {
  text-decoration: underline;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
